@import "compass";
@import "compass/common.scss";
@import "compass/define.scss";

.musics-wrapper {
  background-color: #fff;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
  margin-bottom: 10px;
  @include border-radius(15px);
  @include box-shadow(3px 3px 0px 0px rgba(0,0,0,0.1));
  .music-text {
    .music-sale-date {
      font-size: $default-font-size;
    }
    h2 {
      margin: 5px 0px 5px 5px;
      font-size: x-large;
      color: lightgray;
    }
    hr {
      border: 1px solid #eeeeee;
    }
    .music-image {
      vertical-align: top;
      width: 20%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      .img-responsive {
        width: 90%;
      }
      @include smartphone {
        float: left;
        width: 50%;
        max-width: 150px;
      }
      .img-responsive {
        @include smartphone {
          display: block;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
    .music-info {
      width: 79%;
      display: inline-block;
      font-size: $default-font-size;
      .release-date {
        font-size: $default-font-size;
      }
      .music-list {
        font-size: $default-font-size;
        padding-top: 10px;
        padding-bottom: 10px;
        clear: left;
        @include smartphone {
          padding-top: 0px;
        }
      }
      .commodity-detail {
        font-size: $default-font-size;
      }
      @include smartphone {
        width: 100%;
        display: block;
      }
    }
    @include smartphone {
      width: 100%;
    }
  }
}
