@import "compass";
@import "compass/common.scss";
@import "compass/define.scss";

.musics-wrapper {
  background-color: #fff;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
  margin-bottom: 10px;
  @include border-radius(15px);
  @include box-shadow(3px 3px 0px 0px rgba(0,0,0,0.1));
  .music-text {
    .music-sale-date {
      font-size: $default-font-size;
    }
    h2 {
      margin: 5px 0px 5px 5px;
      font-size: x-large;
      color: lightgray;
    }
    hr {
      border: 1px solid #eeeeee;
    }
    .music-image {
      vertical-align: top;
      width: 20%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      .img-responsive {
        width: 90%;
      }
      @include smartphone {
        float: left;
        width: 50%;
        max-width: 150px;
      }
      .img-responsive {
        @include smartphone {
          display: block;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
    .music-info {
      width: 79%;
      display: inline-block;
      font-size: $default-font-size;
      .release-date {
        font-size: $default-font-size;
      }
      .music-list {
        font-size: $default-font-size;
        padding-top: 10px;
        padding-bottom: 10px;
        clear: left;
        @include smartphone {
          padding-top: 0px;
        }
        .track {
          height: 31px;
          margin-bottom: 5px;
          position: relative;
          @include smartphone {
            height: inherit;
            margin-bottom: 0px;
          }
          .track-title {
            display: inline-block;
            width: 45%;
            @include smartphone {
              width: 100%;
              display: block;
            }
            .track-num {
              display: inline-block;
              width: 20px;
              text-align: right;
              vertical-align: middle;
            }
            .track-name {
              display: inline-block;
              width: 90%;
              white-space: nowrap;
              overflow: hidden;
              vertical-align: middle;
              text-overflow: ellipsis;
              -o-text-overflow: ellipsis;
            }
          }
          .itunes-preview {
            display: inline-block;
            position: absolute;
            right: 0;
            @include smartphone {
              position: inherit;
              display: block;
              margin-left: 0;
            }
            audio {
              @include smartphone {
                width: 100%;
              }
            }
          }
        }
      }
      .commodity-detail {
        font-size: $default-font-size;
      }
      @include smartphone {
        width: 100%;
        display: block;
      }
    }
    @include smartphone {
      width: 100%;
    }
  }
}
