@import "compass";
@import "compass/common.scss";
@import "compass/define.scss";

input[name=youtube-modal-radio] {
  display: none;
}

.youtube-modal-open:checked ~ .youtube-modal-closer {
  display: block;
}

.youtube-modal-open:checked ~ .youtube-modal {
  display: block;
}

#youtube-modal-voice:checked ~ .youtube-modal .voice {
  display: block;
}

.youtube-modal-closer {
  display: none;
  position: fixed;
  width:  100%;
  height: 100%;
  top:  0;
  left: 0;
  opacity: 0.5;
  background-color: #000;
  z-index: 99;
}

.youtube-modal {
  display: none;
  position: fixed;
  width: 550px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -150px;
  background-color: #fff;
  z-index: 100;
  @include border-radius;
  @include smartphone {
    width: 320px;
    height: 170px;
    margin-left: -160px;
    margin-top: -85px;
  }
  .voice {
    display: none;
    margin: 25px 0px 0px 25px;
    @include smartphone {
      margin: 10px 0px 0px 10px;
    }

    iframe {
      width:  500px;
      height: 250px;
      @include smartphone {
        width: 300px;
        height: 150px;
      }
    }
  }
}

.main-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
  .youtube-button-wrapper {
    margin-bottom: 15px;
    border-collapse: separate;
    border-spacing: 10px;
    width: 66%;
    @include smartphone {
      width: 100%;
    }
    display: inline-block;
    .youtube-button {
      display: inline-block;
      width: 50%;
      text-align: center;
      position: relative;
      img {
        width: 95%;
      }
      .youtube-text {
        position: absolute;
        top: 0;
        left: 15px;
        font-size: $default-font-size;
        color: #fff;
      }
      &:after {
        content: " ";
        background: url(https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png) 0 0 no-repeat;
        @include background-size(contain);
        width: 20%;
        height: 22%;
        display: block;
        position: absolute;
        margin: auto;
        top: 40%;
        left: 40%;
      }
    }
  }
  .right-content {
    display: inline-block;
    vertical-align: top;
    width: 66%;
    @include smartphone {
      width: 100%;
    }
    .music-wrapper {
      margin-right: 10px;
      @include smartphone {
        margin-right: 0px;
      }
      .sound-cloud-wrapper {
        padding: 10px;
        background-color: rgba(255,255,255,0.7);
        @include border-radius(15px);
        @include box-shadow(3px 3px 0px 0px rgba(0,0,0,0.1));
        .sound-cloud-text {
          font-size: $default-font-size;
        }
      }
    }
  }

  .left-content {
    display: inline-block;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 33%;
    margin-left: 10px;
    @include smartphone {
      position: inherit;
      width: 100%;
      margin-left: 0px;
      padding-bottom: 15px;
    }
    .contact-wrapper {
      .contact-message {
        font-size: $default-font-size;
      }
    }
    .news-wrapper {
      padding: 10px;
      background-color: #fff;
      font-size: $default-font-size;
      @include border-radius(15px);
      @include box-shadow(3px 3px 0px 0px rgba(0,0,0,0.1));
      @include smartphone {
        margin-left: 0px;
      }
      .news-title {
        border-bottom: 1px solid #eeeeee;
      }
      .news-body {
        display: none;
        white-space: pre-wrap ;
      }
    }
  }
}
