$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$main-font-color: lightgray;
$text-font-color: gray;

@mixin pc($width: 769px) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin smartphone($width: 768px) {
  @media screen and (max-width: $width) {
    @content;
  }
}

body {
    .title {
        color: $main-font-color;
        font-size:200%;
    }
    .menu {
        padding:10px 0 10px 0;
        text-align:center;
        .menu-item {
            color:$main-font-color;
            font-size:150%;
            height: 50px;
            img {
                display: none;
            }
        }
    }
    .main-image {
        background-size: cover;
        width: 100%;
        border-style: none;
    }
    .main-image-small{
        @include pc {
            display: none;
        }
    }
    .main-image-full{
        @include smartphone {
            display: none;
        }
    }
    .top-news {
        padding: 20px;
        margin: 10px 0;
        border: 1px solid #eeeeee;
        .top-news-title {
            color: lightblue;
            font-size: 200%;
        }
        .top-news-body{
            color: $text-font-color;
            white-space: pre-wrap ;
        }
    }
    .main-content {
        color: $text-font-color;
        .body-list-title {
            color: $main-font-color;
            font-size:160%;
        }
        .story-body {
            white-space: pre-wrap ;
        }
        .music-row-body {
            .music-image {
                max-width: 200px;
            }
            padding: 10px;
            margin: 10px 0;
            border: 2px solid #eeeeee;
            border-radius: 5px 5px;
            -webkit-border-radius: 5px 5px;
            -moz-border-radius: 5px 5px;
            hr {
                border: 1px solid #eeeeee;
            }
            .music-info {
                white-space: pre-wrap ;
            }
        }
        .live-row {
            text-align: center;
            .live-row-body {
                padding: 10px;
                margin: 10px 0;
                border: 2px solid #eeeeee;
                border-radius: 5px 5px;
                -webkit-border-radius: 5px 5px;
                -moz-border-radius: 5px 5px;
                hr {
                    border: 1px solid #eeeeee;
                }
            }
            .live-image {
                width: 100%;
                border-radius: 5px 5px;
                -webkit-border-radius: 5px 5px;
                -moz-border-radius: 5px 5px;
            }
        }
    }
    .gloNavi {
        height: 50px;
        div {
            height: 40px;
        }
        a:hover {
            color: gray;
        }
        @include smartphone {
            display: none;
        }
    }
    .small-navi {
        color:$main-font-color;
        font-size:150%;
        .menu-bar {
            height: 40px;
        }
        .list-button {
            position: relative;
            float: right;
            margin-top: 7px;
            margin-right: 15px;
            margin-bottom: 8px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            .icon-bar{
                background-color: #888;
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
            }
            .icon-bar+.icon-bar {
                margin-top: 4px;
            }
        }
        .toggle-menu {
            display: none;
        }
        .menu-item {
            color:$main-font-color;
            font-size:90%;
        }
        @include pc {
            display: none;
        }
    }
}
