<!DOCTYPE html>
<html ng-app="yo_fe" lang="ja">
<meta charset="UTF-8">
<head>
    <title>粒星 | Music</title>

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>

    <!-- head共通部分-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- materialize CSS  -->
    <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/init.js"></script>

    <link href="./image/favicon.ico" rel="shortcut icon">
</head>
<body>
  <div class="container">
    <div ng-include="'include/header.html'"></div>
    <div class="main-content">
      <div class="musics-wrapper" ng-controller="itunesController" data-itunes-id="918328601">
        <div class="music-text">
          <div class="music-sale-date">
            1st mini album
          </div>
          <h2>S/-ity</h2>
          <div class="music-image">
            <img class="img-responsive" src="{{album.info.artworkUrl100}}" />
          </div>
          <div class="music-info">
            <div class="release-date">2016/06 Release</div>
            <div class="music-list">
              <div class="track" ng-repeat="song in album.songs">
                <div class="track-title">
                  <div class="track-num">{{song.trackNumber}}.</div>
                  <div class="track-name"><a href="{{song.trackViewUrl}}">{{song.trackName}}</a></div>
                </div>
                <div class="itunes-preview"><audio ng-src={{trustSrc(song.previewUrl)}} controls></div>
              </div>
            </div>
            <div class="commodity-detail">
              <div>¥{{album.info.collectionPrice}}　商品コード</div>
              <a href="{{album.info.collectionViewUrl}}" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_itunes-sm.png) no-repeat;width:45px;height:15px;"></a>
            </div>
            <hr/>
            ソロ活動にあたって佐間野絢香の名義でリリースされる初のミニアルバム。<br />
            夜の街をコンセプトに、自身で作曲・歌までこなしたボーカルアルバムとなっている。
          </div>
        </div>
      </div>
      <div class="musics-wrapper" ng-controller="itunesController" data-itunes-id="1000135839">
        <div class="music-text">
          <div class="music-sale-date">
            1st mini album
          </div>
          <h2>S/-ity</h2>
          <div class="music-image">
            <img class="img-responsive" src="{{album.info.artworkUrl100}}" />
          </div>
          <div class="music-info">
            <div class="release-date">2016/06 Release</div>
            <div class="music-list">
              <div class="track" ng-repeat="song in album.songs">
                <div class="track-title">
                  <div class="track-num">{{song.trackNumber}}.</div>
                  <div class="track-name"><a href="{{song.trackViewUrl}}">{{song.trackName}}</a></div>
                </div>
                <div class="itunes-preview"><audio ng-src={{trustSrc(song.previewUrl)}} controls></div>
              </div>
            </div>
            <div class="commodity-detail">
              <div>¥{{album.info.collectionPrice}}　商品コード</div>
              <a href="{{album.info.collectionViewUrl}}" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_itunes-sm.png) no-repeat;width:45px;height:15px;"></a>
            </div>
            <hr/>
            ソロ活動にあたって佐間野絢香の名義でリリースされる初のミニアルバム。<br />
            夜の街をコンセプトに、自身で作曲・歌までこなしたボーカルアルバムとなっている。
          </div>
        </div>
      </div>
      <div class="musics-wrapper" ng-controller="itunesController" data-itunes-id="1000135839">
        <div class="music-text">
          <div class="music-sale-date">
            1st mini album
          </div>
          <h2>S/-ity</h2>
          <div class="music-image">
            <img class="img-responsive" src="{{album.info.artworkUrl100}}" />
          </div>
          <div class="music-info">
            <div class="music-list">
              <div class="track" ng-repeat="song in album.songs">
                <div class="track-title">
                  <div class="track-num">{{song.trackNumber}}.</div>
                  <div class="track-name"><a href="{{song.trackViewUrl}}">{{song.trackName}}</a></div>
                </div>
                <div class="itunes-preview"><audio ng-src={{trustSrc(song.previewUrl)}} controls></div>
              </div>
            </div>
            <div class="commodity-detail">
              <div>¥{{album.info.collectionPrice}}　商品コード</div>
              <a href="{{album.info.collectionViewUrl}}" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_itunes-sm.png) no-repeat;width:45px;height:15px;"></a>
            </div>
            <hr/>
            ソロ活動にあたって佐間野絢香の名義でリリースされる初のミニアルバム。<br />
            夜の街をコンセプトに、自身で作曲・歌までこなしたボーカルアルバムとなっている。
          </div>
        </div>
      </div>
    </div>
    <div class="background-image" />
  </div>
  <div ng-include="'include/footer.html'"></div>
</body>
